@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,900&display=swap");

/*agregar el flex para arreglar la posicion del div principal (?)*/
body {
  margin: 0;
  margin-left: -900px; /*cambiar esto, jajaja*/
  background-image: url(https://fondosmil.com/fondo/14729.jpg);
}

h1,
h2 {
  margin: 0;
}

/*listas*/
ul {
  padding: 0;
  list-style: none;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/*-----------------Estilos a mejorar---------------------*/
/* Pokedex */
.pokedex {
  perspective: 1000px; /*propiedad para simular 3D */
  position: relative;
  overflow: hidden; /*para que el texto que sobresalga por ensima de la tapa frontal no sea visible*/
  height: 35rem; /*altura tapa de adelante*/
  width: 30rem; /*ancho tapa frontal*/
  margin: 0 auto;
  overflow: initial; /*va a mantener visible la tapa frontal al abrir*/
  box-shadow: 0 2px 12px -2px rgba(255, 0, 0, 0.4);
}
/*--------Animaciones-------*/
/*Para abrir la tapa*/
.pokedex:hover .pokedex-right-front,
.pokedex.is-active .pokedex-right-front {
  transform: rotateY(180deg);
}
/*Para cerrar la tapa*/
.pokedex:hover .pokedex-right-back,
.pokedex.is-active .pokedex-right-back {
  transform: rotateY(0);
}

/*Visibilidad de la tapa frontal*/
.pokedex-right-front {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(100% - 6rem);
  width: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
  transform-origin: right center;
  z-index: 2;
  backface-visibility: hidden;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px 0 0px 10px;
  border-left: 10px solid #9b0a21;
}
/*div superior tapa frontal*/
.pokedex-right-front:before {
  height: 5rem;
  position: absolute;
  bottom: 100%;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: calc(100% - 9rem);
  right: 0;
  border-top: 1px solid black;
  content: "";
}

.pokedex-right-front:after {
  content: ""; /*sin esta propiedad no se ven los triangulos*/
  border-right: 2.5rem solid #333333; /*triangulo 1*/
  border-bottom: 2.5rem solid #333333; /*triangulo 2*/
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /*triangulo*/
  border-left: 2.5rem solid transparent;
  border-top: 2.5rem solid transparent;
  position: absolute;
  right: calc(100% - 9rem);
  bottom: 100%;
  filter: drop-shadow(0 -1px 0 black);
}
/*div inferior*/
.pokedex-right-back {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(100% - 6rem);
  width: inherit;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  right: 0;
  bottom: 0;
  transition: 1s;
  left: 100%;
  transform-origin: left top;
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 0 10px 10px 0;
  border-left: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

/*div superior al abrir*/
.pokedex-right-back:before {
  width: calc(100% - 9rem);
  height: 5rem;
  position: absolute;
  bottom: 100%;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  left: 0;
  border-top: 1px solid black;
  content: "";
}

.pokedex-right-back:after {
  content: "";
  border-left: 2.5rem solid #333333; /*triangulo 2*/
  border-bottom: 2.5rem solid #333333; /*triangulo 1*/
  border-top: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  display: block;
  width: 0;
  position: absolute;
  left: calc(100% - 9rem);
  bottom: 100%;
  filter: drop-shadow(0 -1px 0 black);
}

/*---Luces---*/
.luces {
  border: 1px solid black;
  box-shadow: -2px 2px 0 rgba(255, 255, 255, 0.5); /*sombreado*/
  width: 20px;
  height: 20px;
  background: gray;
  border-radius: 50%;
}

.luces.animacion {
  animation: 0.4s luces linear infinite;
}

@keyframes luces {
  0% {
    background-color: white;
  }
  50% {
    background-color: #6dd5fa;
  }
  100% {
    background-color: white;
  }
}

.luces.principal {
  width: 50px;
  height: 50px;
}

.luces.mediana {
  width: 40px;
  height: 40px;
}
.luces.largas {
  width: 150px;
  border-radius: 20px;
}

/* Agregar funcionalidad para cuando se busquen los pokemones*/
.luces.roja {
  background-color: #f11712;
}
.luces.azul {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.luces.verde {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #0f9b0f,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #0f9b0f,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.luces.cielito {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.luces.naranja {
  background: #dd1818; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f12711,
    #dd1818
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f12711,
    #dd1818
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.luces.amarilla {
  background-color: #f5af19;
}

/*Pokedex lado izquierdo*/
.pokedex-left {
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dd1818,
    #333333
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #dd1818,
    #333333
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: inherit;
  width: inherit;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
  border-right: 10px solid #9b0a21; /* "columna" que divide las dos tapas*/
  box-sizing: border-box;
  padding: 15px 20px;
}

/*para alinear las luces*/
.pokedex-left-top {
  display: flex;
  align-items: flex-start;
}

.pokedex-left-top > * {
  margin-right: 0.7em;
}

.pokedex-left-bottom-luces {
  display: flex;
  align-items: flex-start;
}

/*Botones, hacerlos funcionales...*/
.pokedex-left-bottom {
  margin-top: 1em;
}

.pokedex-left-bottom-luces > * {
  margin-right: 0.8em;
}

/* Pokedex Pantalla */
.pokedex-pantalla-container {
  background: rgba(34, 34, 34, 0.75);
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  margin: 20px 0;
  height: 50%;
  padding: 0.8rem;
}
.pokedex-pantalla {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

/*----Estadisticas y algo con GRID----*/
.pokemon-info {
  padding: 0.8rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 40% calc(60% - 0.8rem);
  grid-template-rows: 35px 1fr;
  grid-column-gap: 0.8rem;
  grid-row-gap: 0.8rem;
  grid-template-areas:
    "title title"
    "img   stats";
}
.pokemon-name {
  text-align: center;
  text-transform: capitalize;
  grid-area: title;
  font-weight: 700;
}
.pokemon-img {
  width: 100%;
  transform: scale(1.2);
  align-self: center;
  grid-area: img;
}
.pokemon-stats {
  grid-area: stats;
}
.pokemon-stat {
  font-size: 0.9rem;
}
.stat-name {
  text-transform: capitalize;
}

/*--- Pokedex Buscar ---*/
.pokemon-form {
  display: grid;
  grid-template-columns: 1fr 50px;
  column-gap: 0.5rem;
  margin-top: 1em;
}
/*Para buscar al pokemon*/
.pokemon-input {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  background-color: #ffe000;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  outline: 0;
  font-size: 1em;
  flex-grow: 1;
  transition: 0.2s;
}
.pokemon-input:focus {
  border-color: #ffffff;
}

.pokemon-buscar {
  border-radius: 50%;
  background-color: #799f0c;
}

.pokedex-no-pantalla {
  width: 100%;
  height: 100%;
}

/*Pantalla 2 carrito de compras*/

.nuevo {
  width: 20px;
  height: 30px;
  background-color: blue;
}
